<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OpenStack@Cisco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      .sidebar-nav {
        padding: 9px 0;
      }
      {% block extra_css %}{% endblock %}
    </style>
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Bootstrap -->
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    <script>
      (function($) {
        $.fn.linkWholeRows = function() {
      
          // for each object
          return this.each(function() {
      
            // for each row
            $(this).find('tbody tr').each(function() {
              // get the first link's href
              var href = $(this).find('td > a').attr('href');
              // if none found then
              if (href === undefined) {
                return true; // continue
              }
      
              // wrap all cells with links that do not already have a link
              $(this).children().not(':has(a)').each(function() {
                $(this).contents().wrapAll('<a href="' + href + '" />');
              });
      
              // apply the row's height to all links
              // in case that the cells' content have different heights
              var height = $(this).children().css('height');
              $(this).find('td > a').each(function() {
                $(this).css('height', height);
                $(this).css('display', 'block');
                // do not forget to apply display:block to the links
                // via css to make it work properly
              });
            }); // each row
      
          }); // each object
        };
      })(jQuery); 
    </script>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">OpenStack@Cisco</a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Infrastructure <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'hardware_list' %}">Servers</a></li>
                        <li><a href="{% url 'hardware_profile_list' %}">Hardware profiles</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tests <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'test_specification_list' %}">Test specifications</a></li>
                        <li><a href="{% url 'jobs_list' %}">Jobs</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
                <ul class="nav pull-right">
                  {% if user.is_authenticated %}
                    <li><a href="/users/{{ user.username  }}">Logged in as {{ user.username }}</a></li>
                    <li><a href="/accounts/logout/">Log out</a></li>
                  {% else %}
                    <li><a href="/accounts/login/"><strong>Log in</strong></a></li>
                    <li><a href="/accounts/register/"><strong>Register</strong></a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
  {% block content %}{% endblock %}
        </div><!--/span-->
      </div>
    </div> <!-- /container -->
    <script>
      $('.stretched-hrefs').linkWholeRows();
    </script>

  </body>
</html>
